<!DOCTYPE html>
<html>
<head>
  <title>Pokeporssi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">POKE</a>
    </div>
<% if current_user %>
<ul class="navbar-form navbar-left">
  <button class="btn btn-primary navbar-btn"><%= link_to "Uusi pelaaja", new_player_path %></button>
</ul>
  <ul class="navbar-form navbar-right">
    <button class="btn btn-default navbar-btn"> <%= link_to "Kirjaudu ulos", logout_path, method: "delete" %></button>
  </ul>
<% end %>
  </nav>
</head>
<body>



  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-3">
        <ul>
          <li><%= link_to "Etusivu", root_url %></li>
        </ul>
      </div>
      <div class="col-xs-9">
        <%= yield %>
      </div>
    </div>
  </div>



</body>
</html>
